/* line 45, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 51, ../sass/base.scss */
html, body {
  margin: 0;
  padding: 0;
  position: relative;
  background: #ff0000;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
}
/* line 69, ../sass/base.scss */
html a:hover, body a:hover {
  text-decoration: none;
}
/* line 72, ../sass/base.scss */
html a:focus, body a:focus {
  text-decoration: none;
}
/* line 75, ../sass/base.scss */
html a:active, body a:active {
  text-decoration: none;
}

/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* line 156, ../sass/base.scss */
.toggle-view-btn {
  height: 30px;
  padding: 7px;
  margin: 2px;
  position: relative;
}
/* line 166, ../sass/base.scss */
.toggle-view-btn .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  margin: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* line 182, ../sass/base.scss */
.ref {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  left: 2px;
  right: 2px;
  top: 2px;
  height: 18px;
  pointer-events: none;
}

/* line 195, ../sass/base.scss */
.slide-next-enter, .slide-next-leave {
  -webkit-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
  -moz-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
  -ms-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
  -o-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
  transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
}

/* line 205, ../sass/base.scss */
.slide-next-enter {
  -webkit-transform: translate3d(100%, 0, 0);
}

/* line 210, ../sass/base.scss */
.slide-next-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 215, ../sass/base.scss */
.slide-next-leave {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 220, ../sass/base.scss */
.slide-next-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
}

/* line 239, ../sass/base.scss */
input {
  height: 30px !important;
}

/* line 243, ../sass/base.scss */
.inline-edit {
  position: absolute;
}
/* line 250, ../sass/base.scss */
.inline-edit .btn {
  height: 20px;
  line-height: 0px;
}

/* line 257, ../sass/base.scss */
.employeeIsActive {
  background-color: #34495e !important;
  color: #fff;
  height: 224px;
}

/* line 263, ../sass/base.scss */
.employee-list {
  position: relative;
  margin: 0;
  border: #ddd solid 1px;
  margin-bottom: 20px;
}

/* line 274, ../sass/base.scss */
.employee-wrap {
  background: #fff;
  list-style: none;
  width: 100%;
}
/* line 281, ../sass/base.scss */
.employee-wrap:nth-child(odd) .employee {
  background-color: #f9f9f9;
}

/* line 286, ../sass/base.scss */
.employee {
  cursor: hand;
  cursor: pointer;
  padding: 10px;
  padding-bottom: 0;
  border-bottom: #ddd solid 1px;
  left: 0;
  top: 0;
}

/* line 304, ../sass/base.scss */
.employee-edit {
  padding: 20px;
  background: #eee;
}

/* line 309, ../sass/base.scss */
.employee-edit-cell {
  position: absolute;
  border: none !important;
  padding: 0 !important;
  margin-top: 35px;
  width: 100%;
}

/* line 320, ../sass/base.scss */
.edit-hack-1 {
  position: absolute;
  border: none !important;
}

/* line 325, ../sass/base.scss */
.edit-hack-2 {
  border-left: none !important;
}

/* line 329, ../sass/base.scss */
.repeat-enter, .repeat-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -ms-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

/* line 337, ../sass/base.scss */
.repeat-enter {
  opacity: 0;
}

/* line 341, ../sass/base.scss */
.repeat-enter.repeat-enter-active {
  opacity: 1;
}

/* line 345, ../sass/base.scss */
.repeat-leave {
  opacity: 1;
}

/* line 349, ../sass/base.scss */
.repeat-leave.repeat-leave-active {
  opacity: 0;
}
