/* line 45, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 51, ../sass/base.scss */
html, body {
  margin: 0;
  padding: 0;
  position: relative;
  background: #ff0000;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
}
/* line 69, ../sass/base.scss */
html a:hover, body a:hover {
  text-decoration: none;
}
/* line 72, ../sass/base.scss */
html a:focus, body a:focus {
  text-decoration: none;
}
/* line 75, ../sass/base.scss */
html a:active, body a:active {
  text-decoration: none;
}

/* line 81, ../sass/base.scss */
button.btn, input[type="submit"].btn {
  line-height: 25px;
}

/* line 85, ../sass/base.scss */
.msg-feedback {
  margin-right: 20px;
}

/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* line 164, ../sass/base.scss */
.toggle-view-btn {
  height: 30px;
  padding: 7px;
  margin: 2px;
  position: relative;
}
/* line 174, ../sass/base.scss */
.toggle-view-btn .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  margin: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* line 190, ../sass/base.scss */
.ref {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  left: 2px;
  right: 2px;
  top: 2px;
  height: 18px;
  pointer-events: none;
}

/* line 203, ../sass/base.scss */
.slide-next-enter, .slide-next-leave {
  -webkit-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
  -moz-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
  -ms-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
  -o-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
  transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
}

/* line 213, ../sass/base.scss */
.slide-next-enter {
  -webkit-transform: translate3d(100%, 0, 0);
}

/* line 218, ../sass/base.scss */
.slide-next-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 223, ../sass/base.scss */
.slide-next-leave {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 228, ../sass/base.scss */
.slide-next-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
}

/* line 247, ../sass/base.scss */
input {
  height: 30px !important;
}

/* line 251, ../sass/base.scss */
.inline-edit {
  position: absolute;
}
/* line 258, ../sass/base.scss */
.inline-edit .btn {
  height: 20px;
  line-height: 0px;
}

/* line 265, ../sass/base.scss */
.employeeIsActive {
  background-color: #34495e !important;
  color: #fff;
  height: 164px;
}

/* line 271, ../sass/base.scss */
.employee-list {
  position: relative;
  margin: 0;
  border: #ddd solid 1px;
  margin-bottom: 20px;
}

/* line 282, ../sass/base.scss */
.employee-wrap {
  background: #fff;
  list-style: none;
  width: 100%;
}
/* line 289, ../sass/base.scss */
.employee-wrap:nth-child(odd) .employee {
  background-color: #f9f9f9;
}

/* line 294, ../sass/base.scss */
.employee {
  cursor: hand;
  cursor: pointer;
  padding: 10px;
  padding-bottom: 0;
  border-bottom: #ddd solid 1px;
  left: 0;
  top: 0;
}

/* line 314, ../sass/base.scss */
.employee-edit {
  padding: 20px;
  background: #eee;
}

/* line 319, ../sass/base.scss */
.employee-edit-cell {
  position: absolute;
  border: none !important;
  padding: 0 !important;
  margin-top: 35px;
  width: 100%;
}

/* line 330, ../sass/base.scss */
.edit-hack-1 {
  position: absolute;
  border: none !important;
}

/* line 335, ../sass/base.scss */
.edit-hack-2 {
  border-left: none !important;
}

/* line 339, ../sass/base.scss */
.repeat-enter, .repeat-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -ms-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

/* line 347, ../sass/base.scss */
.repeat-enter {
  opacity: 0;
}

/* line 351, ../sass/base.scss */
.repeat-enter.repeat-enter-active {
  opacity: 1;
}

/* line 355, ../sass/base.scss */
.repeat-leave {
  opacity: 1;
}

/* line 359, ../sass/base.scss */
.repeat-leave.repeat-leave-active {
  opacity: 0;
}

/* line 364, ../sass/base.scss */
.message-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* line 373, ../sass/base.scss */
.message {
  margin: auto;
  margin-top: 30%;
  width: 250px;
  height: 250px;
  background: black;
}

/* line 381, ../sass/base.scss */
.loader {
  margin-left: 10px;
  float: right;
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url(../img/spinner.gif) center center no-repeat;
}

/* line 394, ../sass/base.scss */
.logger-wrap .logger-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 400, ../sass/base.scss */
.logger-wrap .logger {
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  position: absolute;
  height: 50%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
/* line 413, ../sass/base.scss */
.logger-wrap .logger .log {
  background: rgba(0, 0, 255, 0.5);
}
/* line 417, ../sass/base.scss */
.logger-wrap .logger .info {
  background: rgba(0, 128, 0, 0.5);
}
/* line 421, ../sass/base.scss */
.logger-wrap .logger .debug {
  background: rgba(0, 0, 0, 0.5);
}
/* line 425, ../sass/base.scss */
.logger-wrap .logger .warn {
  background: rgba(255, 165, 0, 0.5);
}
/* line 429, ../sass/base.scss */
.logger-wrap .logger .error {
  background: rgba(255, 0, 0, 0.5);
}
/* line 434, ../sass/base.scss */
.logger-wrap .logger div {
  padding: 2px 10px;
  color: #eee;
  border-bottom: rgba(255, 255, 255, 0.2) solid 1px;
}
