/* line 45, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 51, ../sass/base.scss */
html, body {
  margin: 0;
  padding: 0;
}
/* line 56, ../sass/base.scss */
html a:hover, body a:hover {
  text-decoration: none;
}
/* line 59, ../sass/base.scss */
html a:focus, body a:focus {
  text-decoration: none;
}
/* line 62, ../sass/base.scss */
html a:active, body a:active {
  text-decoration: none;
}

/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* line 143, ../sass/base.scss */
.toggle-view-btn {
  height: 30px;
  padding: 7px;
  margin: 2px;
  position: relative;
}
/* line 153, ../sass/base.scss */
.toggle-view-btn .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  margin: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* line 169, ../sass/base.scss */
.ref {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  left: 2px;
  right: 2px;
  top: 2px;
  height: 18px;
  pointer-events: none;
}

/* line 182, ../sass/base.scss */
.slide-next-enter, .slide-next-leave {
  -webkit-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
  -moz-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
  -ms-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
  -o-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
  transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
}

/* line 191, ../sass/base.scss */
.slide-next-enter {
  -webkit-transform: translate3d(100%, 0, 0);
}

/* line 196, ../sass/base.scss */
.slide-next-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 201, ../sass/base.scss */
.slide-next-leave {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 206, ../sass/base.scss */
.slide-next-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
}
