/* line 45, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 51, ../sass/base.scss */
html, body {
  margin: 0;
  padding: 0;
  position: relative;
  background: #ff0000;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
}
/* line 69, ../sass/base.scss */
html a:hover, body a:hover {
  text-decoration: none;
}
/* line 72, ../sass/base.scss */
html a:focus, body a:focus {
  text-decoration: none;
}
/* line 75, ../sass/base.scss */
html a:active, body a:active {
  text-decoration: none;
}

/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* line 156, ../sass/base.scss */
.toggle-view-btn {
  height: 30px;
  padding: 7px;
  margin: 2px;
  position: relative;
}
/* line 166, ../sass/base.scss */
.toggle-view-btn .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  margin: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* line 182, ../sass/base.scss */
.ref {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  left: 2px;
  right: 2px;
  top: 2px;
  height: 18px;
  pointer-events: none;
}

/* line 195, ../sass/base.scss */
.slide-next-enter, .slide-next-leave {
  -webkit-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
  -moz-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
  -ms-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
  -o-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
  transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s 0.1s;
}

/* line 205, ../sass/base.scss */
.slide-next-enter {
  -webkit-transform: translate3d(100%, 0, 0);
}

/* line 210, ../sass/base.scss */
.slide-next-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 215, ../sass/base.scss */
.slide-next-leave {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 220, ../sass/base.scss */
.slide-next-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
}

/* line 239, ../sass/base.scss */
input {
  height: 30px !important;
}

/* line 243, ../sass/base.scss */
.inline-edit {
  position: absolute;
}
/* line 250, ../sass/base.scss */
.inline-edit .btn {
  height: 20px;
  line-height: 0px;
}

/* line 257, ../sass/base.scss */
.employeeIsActive {
  background-color: #34495e !important;
  color: #fff;
  height: 164px;
}

/* line 263, ../sass/base.scss */
.employee-list {
  position: relative;
  margin: 0;
  border: #ddd solid 1px;
  margin-bottom: 20px;
}

/* line 274, ../sass/base.scss */
.employee-wrap {
  background: #fff;
  list-style: none;
  width: 100%;
}
/* line 281, ../sass/base.scss */
.employee-wrap:nth-child(odd) .employee {
  background-color: #f9f9f9;
}

/* line 286, ../sass/base.scss */
.employee {
  cursor: hand;
  cursor: pointer;
  padding: 10px;
  padding-bottom: 0;
  border-bottom: #ddd solid 1px;
  left: 0;
  top: 0;
}

/* line 304, ../sass/base.scss */
.employee-edit {
  padding: 20px;
  background: #eee;
}

/* line 309, ../sass/base.scss */
.employee-edit-cell {
  position: absolute;
  border: none !important;
  padding: 0 !important;
  margin-top: 35px;
  width: 100%;
}

/* line 320, ../sass/base.scss */
.edit-hack-1 {
  position: absolute;
  border: none !important;
}

/* line 325, ../sass/base.scss */
.edit-hack-2 {
  border-left: none !important;
}

/* line 329, ../sass/base.scss */
.repeat-enter, .repeat-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -ms-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

/* line 337, ../sass/base.scss */
.repeat-enter {
  opacity: 0;
}

/* line 341, ../sass/base.scss */
.repeat-enter.repeat-enter-active {
  opacity: 1;
}

/* line 345, ../sass/base.scss */
.repeat-leave {
  opacity: 1;
}

/* line 349, ../sass/base.scss */
.repeat-leave.repeat-leave-active {
  opacity: 0;
}

/* line 3, ../sass/page.scss */
.box {
  background: #ff0000;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

@-webkit-keyframes rotating {
  /* line 15, ../sass/page.scss */
  0% {
    -webkit-transform: rotateY(0deg);
  }

  /* line 16, ../sass/page.scss */
  50% {
    -webkit-transform: rotateY(180deg);
  }

  /* line 17, ../sass/page.scss */
  100% {
    -webkit-transform: rotateY(360deg);
  }
}

/* line 23, ../sass/page.scss */
.page {
  -webkit-transform-style: preserve-3d;
  background: #fff;
  margin-top: 42px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: block;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 47, ../sass/page.scss */
.page > .inner {
  padding: 20px;
}
/* line 55, ../sass/page.scss */
.page .title {
  height: 70px;
  border-bottom: 1px solid #ddd;
}
/* line 61, ../sass/page.scss */
.page .title img {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 68, ../sass/page.scss */
.page .content {
  -webkit-transform-style: preserve-3d;
  padding: 25px;
}
/* line 75, ../sass/page.scss */
.page .content img {
  margin-right: 100px;
}
/* line 80, ../sass/page.scss */
.page section {
  margin-bottom: 50px;
  padding-top: 25px;
}
/* line 85, ../sass/page.scss */
.page .group {
  padding: 5px 25px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 92, ../sass/page.scss */
.page .model {
  background-color: rgba(241, 196, 15, 0.1);
  border: rgba(241, 196, 15, 0.2) solid 1px;
}
/* line 95, ../sass/page.scss */
.page .model h2 {
  color: rgba(243, 156, 18, 0.5);
}
/* line 98, ../sass/page.scss */
.page .model h3, .page .model h4 {
  color: #f39c12;
}
/* line 103, ../sass/page.scss */
.page .view {
  background-color: rgba(52, 152, 219, 0.1);
  border: rgba(52, 152, 219, 0.2) solid 1px;
}
/* line 106, ../sass/page.scss */
.page .view h2 {
  color: rgba(41, 128, 185, 0.5);
}
/* line 109, ../sass/page.scss */
.page .view h3, .page .view h4 {
  color: #2980b9;
}
/* line 114, ../sass/page.scss */
.page .controller {
  background-color: rgba(26, 188, 156, 0.1);
  border: rgba(26, 188, 156, 0.2) solid 1px;
}
/* line 117, ../sass/page.scss */
.page .controller h2 {
  color: rgba(22, 160, 133, 0.5);
}
/* line 120, ../sass/page.scss */
.page .controller h3, .page .controller h4 {
  color: #16a085;
}
/* line 125, ../sass/page.scss */
.page .me {
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: rgba(26, 188, 156, 0.1);
  color: #16a085;
}
/* line 132, ../sass/page.scss */
.page .todo {
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: rgba(231, 76, 60, 0.1);
  color: #c0392b;
}
/* line 139, ../sass/page.scss */
.page h1 {
  margin: 0;
  padding: 12px 25px;
  color: #000000;
}
/* line 145, ../sass/page.scss */
.page h2 {
  margin-bottom: 0;
}
/* line 149, ../sass/page.scss */
.page h2, .page h3, .page h4 {
  color: #000;
}
/* line 153, ../sass/page.scss */
.page p, .page li {
  color: #777;
}
/* line 157, ../sass/page.scss */
.page .breath {
  margin: 30px 0;
}
/* line 162, ../sass/page.scss */
.page ul a {
  margin-bottom: 0;
}
/* line 168, ../sass/page.scss */
.page table td, .page table th {
  text-align: center;
}
/* line 175, ../sass/page.scss */
.page .possi .text-left {
  text-align: left;
}
/* line 179, ../sass/page.scss */
.page .possi a {
  margin-bottom: 0;
  display: inline;
}
/* line 185, ../sass/page.scss */
.page blockquote {
  border-color: #3498db;
  margin: 30px 0;
}

/* line 2, ../sass/pri-nav.scss */
.nav-wrap {
  height: 100%;
}

/* line 6, ../sass/pri-nav.scss */
.nav {
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  left: 0;
  margin-bottom: 0;
  margin-top: 40px;
  top: 0;
  bottom: 0;
  position: absolute;
  display: block;
  overflow: scroll;
  overflow-x: hidden;
}
/* line 25, ../sass/pri-nav.scss */
.nav ul {
  list-style: none;
  margin: 0;
}
/* line 30, ../sass/pri-nav.scss */
.nav li {
  cursor: hand;
  cursor: pointer;
}
/* line 34, ../sass/pri-nav.scss */
.nav .divider {
  border-top: 1px solid #333;
}
/* line 38, ../sass/pri-nav.scss */
.nav a {
  display: block;
  color: #7f8c8d;
  padding: 15px 25px;
}
/* line 44, ../sass/pri-nav.scss */
.nav a:hover {
  background: rgba(52, 73, 94, 0.02);
}
/* line 48, ../sass/pri-nav.scss */
.nav a.active {
  background: #34495e;
  color: #ffffff;
  text-shadow: black 0 1px 0;
}

/* line 60, ../sass/pri-nav.scss */
.pri-nav {
  background: #ecf0f1;
  width: 200px;
}
/* line 67, ../sass/pri-nav.scss */
.pri-nav .brand {
  display: none;
}
/* line 71, ../sass/pri-nav.scss */
.pri-nav .divider {
  border-top: 0;
}
/* line 76, ../sass/pri-nav.scss */
.pri-nav ul {
  margin: 0;
  margin-top: 20px;
}
/* line 82, ../sass/pri-nav.scss */
.pri-nav li {
  text-shadow: white 0 1px 0;
  background: #eee;
  font-size: 15px;
  list-style: none;
  border-top: 1px solid white;
  border-bottom: 1px solid #ddd;
}
/* line 91, ../sass/pri-nav.scss */
.pri-nav li a {
  color: #2c3e50;
  font-size: 15px;
}

/* line 11, ../sass/screen.scss */
.app {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ddd;
}

/* line 20, ../sass/screen.scss */
.navigation {
  background: #eee;
  position: fixed;
  top: 0 !important;
  bottom: 0;
  width: 200px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 30, ../sass/screen.scss */
.navigation .content {
  height: 100%;
  position: relative;
}
/* line 108, ../sass/base.scss */
.navigation > header {
  height: 42px;
  position: absolute;
  width: 100%;
  background: #2c3e50;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  border-top: rgba(255, 255, 255, 0.2) solid 1px;
  border-bottom: rgba(255, 255, 255, 0.4) solid 1px;
  z-index: 1;
}
/* line 121, ../sass/base.scss */
.navigation > header .inner {
  padding: 3px;
}
/* line 126, ../sass/base.scss */
.navigation > header h1 {
  color: #ffffff;
  text-shadow: black 0 -1px 0;
  font-size: 17px;
  text-align: center;
  line-height: 33px;
  margin: 0;
}
/* line 137, ../sass/base.scss */
.navigation > header:before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  left: 1px;
  right: 1px;
  top: 1px;
  height: 18px;
  pointer-events: none;
}

/* line 55, ../sass/screen.scss */
.main {
  position: fixed;
  top: 0 !important;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -moz-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -ms-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -o-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
/* line 69, ../sass/screen.scss */
.main > .content {
  -webkit-perspective: 400px;
  background: #000;
  height: 100%;
  width: 100%;
}
/* line 78, ../sass/screen.scss */
.main.minimized {
  -webkit-transform: translate3d(200px, 0, 0);
}
@media only screen and (orientation: landscape) {
  /* line 87, ../sass/screen.scss */
  .main.minimized .page {
    margin-right: 200px;
  }
}
/* line 108, ../sass/base.scss */
.main > header {
  height: 42px;
  position: absolute;
  width: 100%;
  background: #2c3e50;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  border-top: rgba(255, 255, 255, 0.2) solid 1px;
  border-bottom: rgba(255, 255, 255, 0.4) solid 1px;
  z-index: 1;
}
/* line 121, ../sass/base.scss */
.main > header .inner {
  padding: 3px;
}
/* line 126, ../sass/base.scss */
.main > header h1 {
  color: #ffffff;
  text-shadow: black 0 -1px 0;
  font-size: 17px;
  text-align: center;
  line-height: 33px;
  margin: 0;
}
/* line 137, ../sass/base.scss */
.main > header:before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  left: 1px;
  right: 1px;
  top: 1px;
  height: 18px;
  pointer-events: none;
}

/* line 104, ../sass/screen.scss */
.noanimate {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
