<div class="page" page>
    <div class="title">
        <h1>Prototype</h1>
    </div>
    <div class="content">
        <div class="well">
        <input ng-model="search.text">
            </div>

        <div data-ng-controller="SequelSphereDBCtrl">

            <ul class="employee-list">
                <!--data-ng-animate="'repeat'" -->
                <li data-ng-click="onSelectEmployee(employee)" data-ng-repeat="employee in employeeList | searchFilter:search" class="employee-wrap" data-ng-animate="'repeat'" data-ng-class="getEmployeeClass($index)" employee>
                        <div class="employee row-fluid">
                        <span class="span1">{{$index + 1}}</span>
                        <!--<span>{{employee.id}}</span>-->
                        <span class="span5">{{employee.name}}</span>
                        <span class="span1">{{employee.age}}</span>
                        <!--<span>{{employee.bio}}</span>-->
                        <span class="span5">{{employee.email}}</span>
                        <!--<span>{{$index + 1}}</span>-->
                        <!--<span>{{employee.firstName}}</span>-->
                        <!--<span>{{employee.lastName}}</span>-->
                        <!--<span>{{employee.email}}</span>-->
                        </div>
                </li>
            </ul>

            <!--<table class="table table-bordered employee-list">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>#</th>-->
                    <!--<th>First Name</th>-->
                    <!--<th>Last Name</th>-->
                    <!--<th>Email</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->

                <!--<tr data-ng-repeat="employee in employeeList | searchFilter:search" class="employee">-->
                    <!--<td>{{$index + 1}}</td>-->
                    <!--<td>{{employee.firstName}}</td>-->
                    <!--<td>{{employee.lastName}}</td>-->
                    <!--<td>{{employee.email}}</td>-->
                <!--</tr>-->

                <!--</tbody>-->
            <!--</table>-->

            <div class="well">
            <form>
                <div class="row-fluid">
                <input type="text" class="input-small span3" placeholder="Id" ng-model="currentEmployee.id">
                <input type="text" class="input-small span4" placeholder="Name" ng-model="currentEmployee.name">
                <input type="number" class="input-small span1" placeholder="Age" ng-model="currentEmployee.age">
                <input type="text" class="input-small span4" placeholder="Email" ng-model="currentEmployee.email">
                </div>
                <div class="row-fluid">
                <textarea placeholder="Bio" class="span12" ng-model="currentEmployee.bio"></textarea>
                    </div>
                <button type="submit" class="btn">Sign in</button>
            </form>
            </div>


        </div>




    </div>
</div>